body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

a {
    color: inherit;
    font-size: 1.3em;
}

.wrapper {
    flex: 1 0 auto;
}

.input-field input[type=text]:focus {
    border-bottom: 1px solid red;
    box-shadow: 0 1px 0 0 orange;
  }

  .input-field input[type=text]:focus + label {
    color: #000;
  }

#my-image   {
    width: 250px;
    height: auto;
    margin-right: 15px;
    margin-bottom: -34px;
}
