@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:100,100i,400,400i,700,700i');

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

a   {
    color: inherit;
    font-size: 1.3em;
}

.wrapper {
    flex: 1;
}

.footer {
    text-align: center;
}

#title-name {
    padding-left: 0px;
}

#footer-text {
    font-size: 1.2em;
}
