@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:100,100i,400,400i,700,700i');

body    {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-family: 'IBM Plex Sans', sans-serif;
}

.wrapper  {
    flex: 1;
}

.footer {
    text-align: center;
}

#footer-text    {
    font-size: 1.1em;
}