body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

#root {
	flex: 1 0 auto;
}

.main,
.footer {
	padding-left: 300px;
}

a {
	text-decoration: none;
}

#title {
	margin-top: 25px;
	font-weight: bold;
}

#home {
	background-image: url(https://images.unsplash.com/photo-1528819622765-d6bcf132f793?ixlib=rb-1.2.1&w=1000&q=80);
	background-size: cover;
	position: fixed;
	top: -20px;
	left: -20px;
	right: -20px;
	bottom: -20px;
	filter: blur(7px);
	z-index: -1;
}

#my-image {
	width: 200px;
	height: auto;
	margin-right: 15px;
	border-radius: 7px;
}

#profilePic:hover {
	filter: drop-shadow(8px 8px 10px black);
	transform: scale(1.03);
}

#profilePic {
	padding-top: 25px;
	padding-bottom: 10px;
	width: 50%;
	height: auto;
	transition: all ease-in-out 0.2s;
}

#firstName,
#lastName {
	font-size: 1.6em;
	color: white;
}

#lastName {
	font-weight: bold;
}

.icons {
	margin: 15px auto;
}

.iconLink {
	color: #1565c0;
}

iframe {
	width: 100%;
	height: 100vh;
	border: none;
}

#deployed-site {
	margin-right: 10px;
}

#menu {
	display: none;
}

@media only screen and (max-width: 992px) {
	#menu {
		display: unset;
	}
	.main,
	.footer,
	.modal {
		padding-left: 0;
	}
}
